
#card{
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 3rem 2.5rem 3rem;
    position: relative;
}

#card:hover{
    box-shadow: rgb(0, 6, 55) -0.3rem -0.3rem 8px 5px;
    transform: translate(-0.2rem, -0.2rem);
}

.movie-details{
    background-color: rgba(27, 9, 36, 0.906);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 1rem;
}

.movie-details div{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}