
#about{
    margin: 10rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 872px;
}

.description{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-title{
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 2rem;
    text-wrap:pretty;
}

.description-brief{
    margin-bottom: 1rem;
}

.tv{
    height: 15rem;
    padding-left: 5rem;
}

.shadow{
    position: relative;
    bottom: 0;
    left: 4.2rem;
    width: 10rem;
    height: 0.1rem;
    line-height: 0.5rem;
    background: -webkit-linear-gradient(90deg,#04050637, #ff0202);
    color: rgba(0, 0, 0, 0);
}